<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config></context:annotation-config>
	<bean id="userDao" class="com.zhaojun.spring.daoImpl.UserDaoImpl"/>
	
	
	<!-- 新建UserServiceImpl的实例的时候才给其下的userDao注入 -->
	<bean id="userService" class="com.zhaojun.spring.serviceImpl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl"/>
        <property name="username" value="cen_sqzg"/>
        <property name="password" value="$RFV5tgb"/>
    </bean>
    
    
</beans>